<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @price_query.price %>
</p>

<%= link_to 'Edit', edit_price_query_path(@price_query) %> |
<%= link_to 'Back', price_queries_path %>
